body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(23, 22, 22);
    color: white;
}

.colors{
    width: 100px;
    height: 100px;
    border: 2px solid white;
    align-items: center;
    margin-bottom: 2rem;
}

.text{
    width: 100px;
    height: 100px;
    border: 2px solid white;
    margin-bottom: 2rem;
}

button {
    cursor: pointer;
}

#color-input {
    margin-bottom: 2rem;
}

#text-input {
    margin-bottom: 2rem;
}

#select-color {
    margin-bottom: 2rem;
}

#textColorInput {
    margin-bottom: 2rem;
}